* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #040405;
}

.header-container {
    display: flex;
    max-width: 1040px;
    padding: 16px 0;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

header {
    display: flex;
    justify-content: center;
}

.paragraf-container {
    color: #fff;
    display: flex;
    align-items: center;
    gap: 16px;
}

.Connect {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    background: #00FF1A;
}

.Stake {
    color: #FFF;
    gap: 16px;
    font-family: Inter;
    font-size: 16px;
    line-height: 24px;
}



.box-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 151px;
}

.container {
    max-width: 1040px;
    width: 100%;
}

.main-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

main {
    margin-top: 112px;
    display: flex;
    justify-content: center;

}

.Welcome {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
}



.City {
    display: flex;
    justify-content: center;
    align-items: center;
}


.Convex {
    max-width: 1040px;
    width: 100%;
}

.Welcome {
    stroke-width: 2px;
    stroke: #00FF1A;
    display: flex;
    gap: 12px;
}

.better {
    color: #FFF;
    font-family: Inter;
    font-size: 72px;
    max-width: 564px;
}

.tokens {
    color: #7A7A7A;
    font-family: Inter;
    font-size: 20px;
    max-width: 546px;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
}

.works {
    color: #FFF;
    font-family: Inter;
    gap: 16PX;
    background-color: #000;
    font-size: 16px;
    border-radius: 24px;
    border: 1px solid #00FF1A;
    padding: 12px 24px;
}

.Now {
    padding: 12px 24px;
    border-radius: 24px;
    background: #00FF1A;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal
}


.How {
    display: flex;
    gap: 16PX;

}

.dolar {
    border-top: 1px solid #00FF1A;
    display: flex;
    margin-top: 112px;
    max-width: 815px;
    width: 100%;
    gap: 40px;
    flex-wrap: wrap;
}


.TVL {
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    width: 158px;
}

.dolar-paragraf {
    color: #7A7A7A;
    font-family: Inter;
    font-size: 20px;
    width: 127px;
}

.TVL1 {
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    width: 133px;
}

.dolar-paragraf1 {
    color: #7A7A7A;
    font-family: Inter;
    font-size: 20px;
    width: 161px;
}

.TVL2 {
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    width: 164px;
}

.dolar-paragraf2 {
    color: #7A7A7A;
    font-family: Inter;
    font-size: 20px;
    width: 195px;
}

.TVL3 {
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    width: 142px;
}

.dolar-paragraf3 {
    color: #7A7A7A;
    font-family: Inter;
    font-size: 20px;
    width: 181px;
}

.box-div {
    padding-top: 24px;
    flex-direction: column;
    gap: 16px;
    display: flex;
}

.Staking {
    display: flex;
    width: 1040px;
    align-items: flex-start;
    gap: 22px;
    margin-top: 112px;
}

.Curve {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.vector {
    display: flex;
    align-items: center;
    gap: 12px;
}

.Provider {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
}

.Boosted {
    color: #FFF;
    font-family: Inter;
    font-size: 56px;
}

.Deposit {
    color: #7A7A7A;

    font-family: Inter;
    font-size: 20px;
    font-style: norma
}

.Withdrawals {
    display: flex;
    gap: 16px;
}

.withdr {
    color: #FFF;

    font-family: Inter;
    font-size: 32px;
}

.pooled {
    color: #7A7A7A;

    font-family: Inter;
    font-size: 16px;
}

.from {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.tokens {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.pay {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.QR {
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
}

.you {
    color: #7A7A7A;
    font-family: Inter;
    font-size: 16px;
}

.work {
    display: flex;
    max-width: 1040px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-top: 112px;
}

.process {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.How {
    color: #FFF;
    font-family: Inter;
    font-size: 72px;
}

.Our {
    color: #FFF;

    font-family: Inter;
    font-size: 16px;
}

.logo-container {
    max-width: 845px;
    width: 100%;

}

.logo-wraper {
    display: flex;
    text-align: center;
    justify-content: space-between;

}

.lockedlogo {
    display: flex;
    height: 56px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    max-width: 863px;
    width: 100%;
}

.Lock {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #00FF1A;
    background: rgba(0, 255, 26, 0.10);
}


.Register {
    max-width: 245px;
    width: 100%;
    text-align: center;
    flex-direction: column;
    gap: 12px;
    display: flex
}

.dd {
    display: flex;
    justify-content: space-between;
}

.vector {
    padding: 0 10px;
}

.stakers {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.into {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
}

.Convex {
    color: #7A7A7A;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
}

.Put {
    display: flex;
    max-width: 1040px;
    width: 100%;
    margin-top: 112px;
    gap: 22px;
}

.put-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.put-box1 {
    max-width: 509px;
    width: 100%;
}

.drop-container {
    padding-top: 16px;
}

.vector-box1 {
    display: flex;
    gap: 12px;
    align-items: center;
}

.Stake-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.fees {
    color: #FFF;
    font-family: Inter;
    font-size: 55px;
}

.Curve {
    color: #7A7A7A;

    font-family: Inter;
    font-size: 20px;
}

.drop {
    display: flex;
    height: 111px;
    padding: 0px 16px 24px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-left: 2px solid #00FF1A;
    max-width: 509px;
}

.Deposi {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
}

.earn {
    color: #7A7A7A;
    font-family: Inter;
    font-size: 16px;
}

.drop2 {
    display: flex;
    height: 111px;
    padding: 0px 16px 24px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-left: 2px solid #4A4A4E;
    max-width: 506px;
}

.Testimonials {

    display: flex;
    margin-top: 112px;
    gap: 24px;
}

.New {
    gap: 23px;
    width: 624px;
    height: 227px;
    margin-top: 24px;
}

.York {
    background: #1C1C20;
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 392px;
    width: 100%;
    height: 756px;
}

.Cameron {
    display: flex;
    flex-direction: column;
}

.victor1 {
    display: flex;
    gap: 12px;
    align-items: center;
    padding-bottom: 12px;
}

.NewYork {
    display: flex;
    padding: 24px 32px;
    flex-direction: column;
    align-items: flex-start;
    background: #1C1C20;


}

.NewYork2div {
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    background: #1C1C20;
    gap: 12px;
    margin-top: 12px;
}

.Phonepng {
    display: flex;
    align-items: center;
    gap: 12px;
}

.cardptext {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
}

.cardp {
    color: #B7B7B7;
    font-family: Inter;
    font-size: 22px;
    font-style: italic;
    font-weight: 400;
    line-height: 136.023%;
    letter-spacing: 0.77px;
}

.NewYork2div span {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
}

.NewYork2div img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.ponepng {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background: #00FF1A;
}


.Group {
    display: flex;
    align-items: center;
    align-self: stretch;
    gap: 7px;

}

#Cameron {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.NewYorkp {
    color: #7A7A7A;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}


.ptext {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
}

.ptext2 {
    color: #B7B7B7;
    font-family: Inter;
    font-size: 22px;
    font-style: italic;
    font-weight: 400;
    line-height: 136.023%;
    letter-spacing: 0.77px;
}

.spantext {
    color: #00FF1A;
    font-family: Inter;
    font-size: 22px;
    font-style: italic;
    font-weight: 400;
    line-height: 136.023%;
    letter-spacing: 0.77px;
}

.Groupicon {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #F8F8F8;
}

.Groupiconpng {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 50px;
    background-color: #00FF1A;
}

.Groupdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.Grouppng {
    display: flex;
    flex-direction: column;
    align-items: flex-end;


}

.divcard {
    width: 440px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}


.Rectangle2 {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.Testimonials1 {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-top: 95px;
}

.Testi {
    color: #FFF;

    font-family: Inter;
    font-size: 16px;
}

.neque {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
}

.infut-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.infut-box {
    display: flex;
    padding: 12px 16px;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #565656;
    max-width: 328px;
    width: 100%;
    background: #1C1C20;

}

.text-container {
    display: flex;
    max-width: 328px;
    width: 100%;
    height: 155px;
    padding: 12px 16px;
    align-items: flex-start;
    background: #1C1C20;
}

.farme-div {
    margin-top: 24px;
}

.Submit2025 {
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 4px;
    background: #00FF1A;
    max-width: 328px;
    width: 100%;


}

.bmit {
    background: #00FF1A;
    border: none;
}



.Discord {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: #FFF;
}

.Twitter {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: #FFF;
}

.facebook {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 16px;
}

.facebook p {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;

}

.facebook div {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}


.footer_container {
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    padding: 40px 200px;


}

.Chat2 {
    color: #7A7A7A;
}

.Career {
    border-top: 1px solid #00FF1A;
    display: flex;
    justify-content: space-between;
    margin-top: 225px
}